.loading-screen {
     display: flex;
     z-index: 99;
     position: absolute;
     background: #fff;
     color: black;
     font-size: 3rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     inset: 0;
   }


 /*   .spinner {
     border: 5px solid rgba(0, 0, 0, 0.1);
     border-left-color: #09f;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin 1s linear infinite;
     margin-top: 1em;
   }
   
   @keyframes spin {
     to {
       transform: rotate(360deg);
     }
   } */