.swal2-popup {
  background-color: rgb(31 30 30) !important;
  color: #fbfbfb !important;
}
.swal2-confirm {
  background-color: #d71f0f !important;
  background: #d71f0f;
  margin: auto 10px;
}
.swal2-deny {
  background-color: #17db10 !important;
}
.swal2-cancel {
  background: #17db10 !important;
  background-color: #17db10 !important;
  border-color: #17db10;
  color: #fff;
}

.highScores {
  font-size: 1.4rem;
  width: 14em;
  padding: 0 .5em;
  background: black;
  text-align: center;
}
.highScores :nth-child(n+9) {
  display: none;
background-color: red !important;
}
.highScores h2 {
margin: .4em 0;
}
.highPlayer {
  background: rgb(23, 21, 21);
  position: relative;
}
.highscorePlacement {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  
  background: #dae907;
  color: #0c0c0c;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesBody {
     position: fixed;
     z-index: 99;
     padding-top: 7em;
     display: grid;
     place-content: center;
     grid-template-columns: auto auto auto auto auto ;
     overflow: scroll;
     gap: 0;
     background-color: rgba(5, 5, 5, 0.85);
     inset: 0;
}
.logBody {
     display: grid;
     grid-template-columns: auto auto auto auto ;
     gap: 2em;
}

.firstPlace {
  background: #c3d313;
  color: #000000;
}
.secondPlace {
  background: #13d313;
  color: #000000;
}
.thirdPlace {
  background: #13d3d3;
  color: #000000;
}
.fourthPlace {
  background: #1313d3;
  color: #e4e4e4;
}
.fifthPlace {
  background: #000000;
  color: #e4e4e4;
}
.defaultPlace {
  display: flex;
  justify-content: center;
  width: 16em;
  margin: .5em .2em;
  text-align: center;
}
.defaultPlace h3 {
     padding: 1em .8em;
     margin: 0;
     width: 33%;
}
.defaultPlace h3:nth-child(3) {
     background: #b91717;
     
}
.defaultPlace b {
     font-size: 2.2rem;
     color: #fbfbfb;
}

.topInfoFixed {
  position: fixed;
  background: #000000ba;
  top: 0;
  width: 100vw;
}

.topInfoFixed h1 {
  margin-left: 2em;
}

.topInfoFixed button {
  position: absolute;
  right: 5%;
  top: 17%;
}

.gameLogsBody {
 display: grid;
 position: relative;
 grid-template-columns: auto auto;
 gap: 2em;
 padding: 7.3em 2em 2em 2em;
 background: #000000a0;
}

.gameLogs {
  position: relative;
}
.gameLogsBody::before {
  position: absolute;
content:"Se tidligere spil";
top: 0;
left: 21%;
margin: .6em 0;
font-size: 2.7rem;
}

.gameReturn {
  position: fixed;
  font-size: 1.6rem;
  background: #dc700b;
  color: #fbfbfb;
  bottom: 0;
  left: 37%;
  width: 20em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.rpHistory {
  display: grid;
  grid-template-columns: auto auto;
  width: 30em;
}